# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\三月\Java文件\JAVA路线\后端\Redis\【遇见狂神说】Redis视频素材\redis-study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
